# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
# Large datasets
*.csv
data/
model_*/training_data.csv
*.egg-info/
.pytest_cache/
.coverage
coverage.xml
*.ipynb_checkpoints/

# OS and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment
.env
*.env

# Logs
*.log
*.feather
*.cvs
*.txt
*.duckdb
*.dat
*.keras
*.preprocessed.json
*.parquet
*.pkl
*.h5
*.zip
*.pth
!model_*/config.json
*.mpeg
*.mpg
*.mp4
*.m4v
*.png
*.gif
*.prediction_*/
*.npz
*.npy
